---
layout: default
title: Datenschutz
---

{% include navigation.html ref="index.html" %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener("scroll", function () {
            var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
            var firstSectionHeight = document.querySelector(".masthead-subheading").offsetTop;

            var navbar = document.getElementById("mainNav");

            if (scrollPosition >= firstSectionHeight) {
                navbar.classList.add("scrolled");
            } else {
                navbar.classList.remove("scrolled");
            }
        });
    });
</script>
<!-- Masthead-->
<header class="masthead bg-light border-bottom">
    <div class="container">
        <div class="masthead-heading d-none d-lg-block">Die Marchfelder Böhmische</div>
        <div class="masthead-subheading text-uppercase" style="margin-bottom: -90px;"></div>
        <div class="container">
        </div>
    </div>
</header>
<!-- about-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Datenschutzgrundverordnung</h2>
            <h2 class="section-subheading text-muted">Datenschutz</h2>
            <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher
                ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen
                Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im
                Rahmen unserer Website.</p>
            <h2 class="section-subheading text-muted">Kontakt mit uns</h2>
            <p>Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen
                Daten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs Monate bei uns
                gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
            <h2 class="section-subheading text-muted">Cookies</h2>
            <p>Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe
                des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.
                Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem
                Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten
                Besuch wiederzuerkennen.
                Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen
                von Cookies informiert und Sie dies nur im Einzelfall erlauben.
                Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.</p>
            <h2 class="section-subheading text-muted">Ihre Rechte</h2>
            <p>Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft,
                Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie
                glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
                datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei uns
                unter medien@marchfelderboehmische.at oder der Datenschutzbehörde beschweren.</p>
            <h2 class="section-subheading text-muted">Sie erreichen uns unter folgenden Kontaktdaten:</h2>
            <p><a href="index.html#contact">Dennis TOTH</a></p>
            <div class="container">
            </div>
        </div>
    </div>
</section>

{% include footer.html %}

<!-- Cookies-->
<div class="cookie-popup" id="cookie-banner">
    <div class="cookie-popup-content">
        <span>Diese Website verwendet Cookies, um Ihnen die bestmögliche Nutzung unserer Website zu ermöglichen.</span>
        <button class="cookie-btn" id="accept-cookies">Akzeptieren</button>
    </div>
</div>
