---
layout: default
title: Impressum
---
{% include navigation.html ref="index.html" %}

{% include masthead.html %}

<!-- about-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Impressum</h2>
            <p>Informationspflicht laut §5E-Comerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und
                Offenlegungspflicht laut §25 Mediengesetz<br>Die Inhalte dieser Seite verantwortet die:<br>
                <br>
                Blaskapelle Marchfelder Böhmische<br>
                <br>
                Zuständigkeitsbehörde Bezirkshauptmannschaft Gänserndorf<br>
                ZVR-Zahl: 1565748370<br>
                gegründet im Jahr 2022<br>
                <br>
                <a href="index.html#contact">Thomas Kriegl</a>
                <br>
                Franzensdorf 58 <br>
                2301 Franzensdorf (Groß-Enzersdorf)<br>
                <br>
                +43 680 3240275<br>
                kontakt@marchfelderboehmische.at<br>
            </p>
            <h2 class="section-subheading text-muted">Haftung für Inhalte dieser Website</h2>
            <p>Wir sind bemüht alle Inhalte dieser Website auf dem aktuellen Stand zu halten und Ihnen sämtliche
                Informationen zur Verfügung zu stellen. Wir garantieren nicht für die Richtigkeit aller veröffentlichten
                Inhalte und haften nicht für Informationen, die uns von Dritten bereitgestellt werden. Wir ersuchen Sie
                im Falle von negativ-auffälligen oder rechtswidrigen Inhalten uns unter die im Impressum angegebenen
                Kontaktdaten zu informieren.</p>
            <h2 class="section-subheading text-muted">Haftung für Links auf dieser Website</h2>
            <p>Unsere Website enthält Links zu anderen Websites, für deren Inhalt wir nicht verantwortlich sind. Wir
                ersuchen Sie im Falle von rechtswidrigen Links uns unter die im Impressum angegebenen Kontaktdaten zu
                informieren.</p>
            <h2 class="section-subheading text-muted">Urheberrecht</h2>
            <p>Alle Inhalte unserer Website, sowie Bilder, Fotos, Videos und Grafiken, unterliegen dem Urheberrecht und
                sind urheberrechtlich geschützt. Das unerlaubte Teilen von Inhalten unserer Website wird im Streitfall
                rechtlich nachverfolgt. Die Nutzungsrechte unterliegen ausschließlich der Marchfelder Böhmischen und
                können für Werbezwecke, sowie zur weiteren Vermarktung, Bilder, etc. frei- und weitergeben.</p>
            <h2 class="section-subheading text-muted">Webdesign & Website-Entwicklung</h2>
            <a href="index.html#contact">Thomas STOCKHAMMER</a><br/>
            <a href="index.html#contact">Dennis TOTH</a>
            <div class="container">
            </div>
        </div>
    </div>
</section>

{% include footer.html %}

{% include cookie.html %}
